.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #9d9ea5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  margin: 30px;
  text-shadow: 3px 0 #625d67;
  font-size: 2.8rem;
  font-weight: 500;
  color: #9634dc;
}

h2, h3 {
  margin: 30px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #eaeaea;
}

p {
  color: #9634dc;
}

img {
  width: 80%;
  background-color: #6d1ea5;
  border-radius: 30%;
  mix-blend-mode: hard-light;
  box-shadow: 0 8px 16px #6d1ea5;
}

.myBtn {
  margin: 30px;
  padding: 12px 24px;
  font-size: 1.1rem;
  background-color: #6d1ea5;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.myBtn:hover {
  transform: scale(1.1);
  background-color: #686b69;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
